<app-user-panel-header></app-user-panel-header>
<ion-content class="backgroundimage">
  <ion-grid>
    <ion-row>
      <io-col class="ion-padding">
        <br>
        <h2 class="ion-text-center jostDemi custom-color">Crypto Marketplace</h2>
        <br>
        <br>
        <h5 class="ion-text-center jostDemi">Be on the lookout for our new and secure Crypto Marketplace, launching in the next <strong>30 Days!</strong></h5>
        <br>
      
        <h5 class="ion-text-center jostDemi">We can't wait to show you what we have planned!</h5>
      </io-col>
    </ion-row>
  </ion-grid>
</ion-content>