.background-subheader-30{
    background: url('../../../../assets/images/subheader.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -40px;
}
.setup-main{
    background:#001b47;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.under-line{
    background: #707070;
    height: 1px;
    width: 100%;
    margin: 0 auto;
}
.profit{
    border: 1px solid #707070;
    border-radius: 0 0 10px 10px;
}
.main-border{
    border: 1px solid #707070;
    min-height: 200px;
}
.border-botom{
    border-bottom: 1px solid #707070;
}
.noborder{
    border-bottom:none;
}