<app-user-panel-header></app-user-panel-header>
<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isDataLoad"></ion-progress-bar>
  <div class="position-relative z-index-10">
    <ion-list class="p-0">
      <ion-item-divider class="height-50 removeborder background-subheader-30">
        <ion-button slot="start" fill="clear" class="p-0-srart m-t-30" (click)="backtomarktplace()">
          <ion-icon name="chevron-back" class="color-tertiary size-32"></ion-icon>
        </ion-button>
      </ion-item-divider>
    </ion-list>
  </div>
  <ion-grid class="ion-padding-start ion-padding-end">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h5 class="ion-text-uppercase color-tertiary-dark jostDemi size-28 m-b-0 m-t-5 font-weight-600"> Current order </h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-button routerLink="/user-panel/market-search" expand="block" fill="outline" size="small" class="jostDemi shadownot capitalize height-40 letter-spacing size-14 alredy-member no-border border-radius-12 ion-activatable ripple-parent box-shadow font-weight-700"> Market Search </ion-button>
        <p class="darken-color ion-text-center jostDemi size-12 m-b-2 m-t-2 font-weight-400"> Click on an item to enter the amount you would like to buy or to see more details </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="main-box"  *ngIf="AllAvailableListings.length > 0">
    <ion-grid class="ion-padding-start ion-padding-end">
      <ion-row class="border-botom ion-text-center">
        <ion-col class="ion-no-padding">
          <p class="color-tertiary-dark ion-text-center ion-text-uppercase jostDemi size-14 m-b-2 m-t-2 font-weight-500"> Currency </p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <p class="color-tertiary-dark ion-text-center ion-text-uppercase jostDemi size-14 m-b-2 m-t-2 font-weight-500"> accepted payment method </p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <p class="color-tertiary-dark ion-text-center ion-text-uppercase jostDemi size-14 m-b-2 m-t-2 font-weight-500"> offer <br> type </p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <p class="color-tertiary-dark ion-text-center ion-text-uppercase jostDemi size-14 m-b-2 m-t-2 font-weight-500"> details </p>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="border-botom" *ngFor="let item of AllAvailableListings" (click)="ShowSingleItem(item)">
        <ion-col class="ion-no-padding">
          <div class="items-centers">
            <img [src]="item.logo" alt="Logo" onerror="this.src='assets/images/bitcoin.png'" class="image-style">
          </div>
        </ion-col>
        <ion-col class="ion-no-padding">
          <div class="items-centers">
            <p class="darken-color ion-text-center ion-text-uppercase jostDemi size-14 m-b-5 m-t-5 font-weight-500"> USD </p>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding">
          <div class="items-centers">
            <p class="darken-color ion-text-center ion-text-uppercase jostDemi size-14 m-b-5 m-t-5 font-weight-500"> {{item.pricingModel}} </p>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding" >
          <p class="color-secondary ion-text-center ion-text-capitalize jostDemi size-14 m-b-5 m-t-5 font-weight-600"> {{roundedNumber(item.availableQuantity)}} {{item.marketSymbol}} </p>
          <p class="color-secondary ion-text-center ion-text-capitalize jostDemi size-14 m-b-5 m-t-5 font-weight-600"> {{roundedNumber(item.currentRate)}} USD </p>
        </ion-col>
        <ion-col class="ion-no-padding">
          <div class="items-centers">
            <ion-icon name="eye-outline" class="size-28 darken-color jostDemi"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
  </div>
  <br>
  <ion-grid *ngIf="AllAvailableListings.length === 0">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h4 class="jostDemi size-19 color-tertiary-dark font-weight-600 p-l-10 ion-text-center ion-text-uppercase"> No Data Found</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="GetCartData?.items.length > 0" class="border-top">
    <ion-row *ngFor="let item of GetCartData?.items"  class="border-botom">
      <ion-col size="4">
        <p class="darken-color ion-text-center ion-text-uppercase jostDemi size-12 m-b-5 m-t-5 font-weight-600"> {{item.name}} </p>
        <p class="darken-color ion-text-center ion-text-uppercase jostDemi size-16 m-b-5 m-t-5 font-weight-800"> {{item.amount}} </p>
      </ion-col>
      <ion-col>
        <p class="darken-color ion-text-end ion-text-uppercase jostDemi size-12 m-b-5 m-t-5 font-weight-600 m-r-10"> Total </p>
        <p class="darken-color ion-text-end ion-text-uppercase jostDemi size-16 m-b-5 m-t-5 font-weight-800 m-r-10">
          {{ item.totalPrice | currency:'USD' }} USD
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="checkout()" expand="block" size="large" class="jostDemi shadownot height-60 letter-spacing size-18 primary-color-background no-border border-radius-8 m-b-20 height-40 ion-activatable ripple-parent box-shadow font-weight-700"> checkout now </ion-button>
</ion-content>