.backgroundimage-footer-productpage{
    background: url('../../../assets/images/signu1-background.png') 0 0/100% 100% no-repeat;;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    width: 100%;
    // position:absolute;
    bottom: 0; 
}
.shadownot{
    --box-shadow: none;
}
.custom-color-background{
    --background: #2985C2;
}

.background-subheader-30{
    background: url('../../../assets/images/subheader.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -40px;
}
.custome-icon-info{
    position: absolute;
    zoom: 1.2;
    margin-left: 5px;
}

.static-butto-color{
    --background: #D3D3D3;
  }
  // Slider Style START 
.custon-nav{
    height: 48px;
    width: 20px;
    cursor: pointer;
  
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .prev-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
  }
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .next-icon-custom{
    background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
  }
  
  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
    background: #449cd5;
    border-radius: 3px;
    padding: 3px;
  }
 
  // Slider Style STOP
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .progesss-main{
    position: relative;
  }
  .percentage{
    position: absolute;
    right: 50%;
    top: 5%;
  }
  .text-center{
    text-align: center;
  }
  .center{
    text-align: center;
  }
  .progressbar{
    --background: #fff;
    --progress-background:#2985C2;
    height: 35px;
    border: 1px solid #707070;
  }
  .margins{
    margin: 2px auto;
  }
  .icon-style{
    margin-bottom: -5px;
  }
  .gallery-images{
    width: 100%;
    height: 200px;
    object-fit: fill;
  }