<ion-content class="backgroundimage">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-toolbar class="general-pages-toolbar p-t-20p">
          <div class="ion-text-center">
            <img src="assets/images/logo.png" class="w-70">
          </div>
        </ion-toolbar>
        <div class="btn-grp p-8 bottom-0 w-100 position-fixed left-0">
          <ion-button expand="block" size="large"
            class="jostDemi shadownot height-60 letter-spacing size-18 primary-color-background no-border border-radius-8 m-b-20 height-50 ion-activatable ripple-parent box-shadow font-weight-700"
            (click)="goToSignUp()">GET STARTED</ion-button>
          <ion-button expand="block" fill="outline" size="large"
            class="jostDemi shadownot height-60 letter-spacing size-18 alredy-member no-border border-radius-8 height-60 ion-activatable ripple-parent box-shadow font-weight-700"
            [class.removeborder]="checkbackgroundalready" (click)="goToLogin()">ALREADY A MEMBER?</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>