.background-subheader-30 {
    background: url("../../../assets/images/subheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -30px;
  }
  
  .border {
    border-bottom: 1px solid #ccc;
  }
  
  .tint {
    color: #636363;
  }
  
  .inline {
    display: inline;
  }
  
  .staticcolor {
    color: #60ccf0;
  }
  
  .min-h {
    min-height: 300px;
  }
  
  .grid-minheight {
    min-height: calc(100% - 370px);
  }
  
  .errorHead {
    background: rgba(199, 0, 0, 0.05);
  }
  
  .closebtn {
    position: absolute;
    bottom: 10px;
    color: white;
    z-index: 1;
    left: 20%;
    width: 60%;
  }
  
  .customInput {
  
    display: flex;
    flex-direction: row-reverse;
  
  
  }
  .customEye {
    padding: 2px;
    font-size: 20px;
    z-index: 111111;
  }
  .p-5p {
    padding: 5%;
  }