<ion-content class="h-100 no-scroll">
  <div class="overfolow-y h-100 ">
    <ion-item-divider class="height-30 removeborder background-subheader-30">
      <ion-button slot="start" fill="clear" class="p-0-srart m-t-20" (click)="gotoLogin()">
        <ion-icon name="chevron-back" class="staticcolor size-32"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ng-container>
      <ion-grid class="position-relative z-index-10 grid-minheight p-h-25">
        <ion-row>
          <ion-col>
            <p class="size-23 font-weight-600 text-center color-tertiary-dark jostDemi uppercase">ACCOUNT CONFIRMATION
              <br>
              &
              <br>
              {{rootPage}}</p>
            <p class="size-15 jostBook font-weight-400 text-center m-0">Please use the controls below to complete the <br> reset password process.
            </p>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <form class="p-5p p-t-0" [formGroup]="resetPasswordForm">
              <div>
                <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-blue display-block">ONE-TIME PASSCODE (OTP)</ion-label>
                <ion-input class="itemclass height-60 p-l-10" formControlName="otpCode" type="text">
                </ion-input>
             
                <div *ngFor="let error of errorMessages.otpCode" class="errormsg">
                  <ng-container *ngIf="otpCode.hasError(error.type) && (otpCode.dirty || otpCode.touched)">
                    <div class="erroronform">
                      <small class="error-message jostDemi size-10">{{error.message}}</small>
                    </div>
                  </ng-container>
                </div>
              </div>

              
              <div>
                <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-blue display-block">PASSWORD</ion-label>
                <ion-input class="itemclass height-60 p-l-10 customInput" [type]="PasswodType" formControlName="password">
                  <ion-icon slot="end" class="customEye" [name]="showPassword" (click)="toggleShow()"></ion-icon>
                </ion-input>
            
                <div *ngFor="let error of errorMessages.password" class="errormsg">
                  <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                    <div class="erroronform">
                      <small class="error-message jostDemi size-10">{{error.message}}</small>
                    </div>
                  </ng-container>
                </div>
              </div>
              
              <div>
                <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-blue display-block">CONFIRM PASSWORD
                </ion-label>
                <ion-input class="itemclass height-60 p-l-10 customInput" formControlName="passwordConfirmation"
                  [type]="ConfirmPasswodType">
                  <ion-icon slot="end" class="customEye" [name]="showConfirmPassword" (click)="toggleShowConfirmPassword()"></ion-icon>
                </ion-input>
                <div *ngFor="let error of errorMessages.passwordConfirmation" class="errormsg">
                  <ng-container *ngIf="passwordConfirmation.hasError(error.type) && (passwordConfirmation.dirty || passwordConfirmation.touched)">
                    <div class="erroronform">
                      <small class="error-message jostDemi size-10">{{error.message}}</small>
                    </div>
                  </ng-container>
                </div>
                <div class="errormsg">
                  <ng-container
                    *ngIf="resetPasswordForm.hasError('mismatch') && (passwordConfirmation.dirty || passwordConfirmation.touched)">
                    <div class="erroronform">
                      <small class="error-message jostDemi size-10">{{errorMessages.mismatch}}</small>
                    </div>
                  </ng-container>
                </div>
              </div>

              <ion-button expand="block" size="large" (click)="reset()" [disabled]="resetPasswordForm.invalid"
                class="shadownot size-18 primary-color-background no-border border-radius-8 m-b-20 m-t-25 height-60 jostDemi letter-spacing ion-activatable ripple-parent font-weight-600">
                Reset
                <ion-spinner *ngIf="showSpinner" name="lines" class="validatespinner1"></ion-spinner>
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-button class="closebtn" (click)="gotoLogin()" size="small" fill="outline" color="tertiary-contrast"
        expand="block">
        <ion-text class="size-10">BACK TO LOG IN</ion-text>
      </ion-button>
      <div class="backgroundimage-footer z-index-0 min-h position-relative">
      </div>
    </ng-container>

    
    
  </div>

</ion-content>