<app-user-panel-header></app-user-panel-header>
<ion-content class="background-transaction-status">
  <div class="position-relative">
    <!-- <div class="background-transaction-status-kyc">
    </div> -->
    <ion-grid>
      <ion-row class="p-l-10 p-r-10">
        <ion-col class="ion-text-center">
          <h1 class="size-28 m-t-20p text-white futuraFontsBold">TRANSACTION STATUS</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="circle">
      <ion-icon name="checkmark-outline" class="iconstyle"></ion-icon>
    </div>
    <ion-card>
      <ion-row class="m-t-15p">
        <ion-col class="ion-text-center">
          <h1 class="size-26 color-black futuraFontsBold">Transaction Complete</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-right">
          <h1 class="size-16 m-t-0 m-b-0 color-black">Transaction ID:</h1>
        </ion-col>
        <ion-col size="6" class="ion-text-left">
          <h1 class="size-16 m-t-0 m-b-0 color-primary">232418729</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="size-32  m-t-0  m-b-0 color-black futuraFontsBold">$33,554.70</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="size-16  m-t-0 m-b-0 color-black futuraFontsBold">Your Wallet Balance</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="size-26 color-black futuraFontsBold">Next Step</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="size-16">Because your transaction exceeds $XXX it requires additional verifiction to be compliant with Federal Regulation XYZ.</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button expand="block" size="large" class="joshDemi size-16 primary-color-background no-border border-radius-8 p-b-10p  height-50 shadownot font-weight-600 letter-spacing">VERIFY YOUR IDENTITY</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>