.m-l--25 {
  margin-left: -25px;
}
.customtext {
  font-size: 23px;
  font-weight: 600;
}
.custom-color-sky {
  color: #3a9bd0;
}
.p-t-20pr {
  padding-top: 20%;
}
.p-b-20pr {
  padding-bottom: 20%;
}
.m-l--20 {
  margin-left: -20px;
}
.verifyRow {
  justify-content: space-between;
  width: 95%;
}
