.backgroundimage-footer-bankdetail{
    background: url('../../../assets/images/signu1-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90px;
    width: 100%;
    bottom:0;
    z-index: -1;   
}