.background-liquidate {
  background: url("../../../assets/images/signu1-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 210px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.customcolor {
  color: #2985c2;
}
.custome-color-gray {
  color: #636363;
}
.paywithcryptocard {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: #d9ebed;
  border-radius: 8px;
  height: 126px;
}
.total {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.ordertotal {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.color-blue {
  color: #001b47;
}
.statictext {
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
  color: gray;
  margin-bottom: 0px;
}

.forgotkeycss {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.color-sky {
  color: #60ccf0;
}
