.background-subheader-30{
    background: url('../../../../assets/images/subheader.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -40px;
}
.selectClass{
    border: 1px solid #70707070;
    border-radius: 3px;
    background: #ffffff;
}
.under-line{
    background: #70707070;
    height: 1px;
    width: 100%;
    margin: 0 auto;
}