.background-subheader-30{
    background: url('../../../../assets/images/subheader.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -40px;
}
.selectClass{
    border: 1px solid #70707070;
    border-radius: 3px;
    background: #ffffff;
}
.under-line{
    background: #70707070;
    height: 1px;
    width: 100%;
    margin: 0 auto;
}
#card-container {
    // background: url('../../../assets/images/XL_Wallet_Card.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    bottom: 0;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    margin: 5px auto;
}
.sq-card-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    border: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    // background: url('../../../assets/images/XL_Wallet_Card.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}