<app-user-panel-header></app-user-panel-header>
<ion-content>
<ion-progress-bar type="indeterminate" *ngIf="isDataLoad"></ion-progress-bar>
  <div class="position-relative z-index-10">
    <ion-list class="p-0">
      <ion-item-divider class="height-50 removeborder background-subheader-30">
        <ion-button slot="start" fill="clear" class="p-0-srart m-t-30" (click)="backtomarktplace()">
          <ion-icon name="chevron-back" class="color-tertiary size-32"></ion-icon>
        </ion-button>
      </ion-item-divider>
    </ion-list>
  </div>
<ng-container *ngIf="IsSignup">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h5 class="ion-text-uppercase color-tertiary-dark jostDemi size-28 m-b-0 m-t-5 font-weight-600">
            Crypto marketplace 
          </h5>
          <h5 class="ion-text-capitalize color-tertiary-dark jostDemi size-28 m-b-0 m-t-5 font-weight-600">
            active profile 
          </h5>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="darken-color jostDemi size-12 m-b-0 m-t-0 p-t-4 font-weight-500">
          Welcome new seller!
        </p>
        <p class="darken-color jostDemi size-12 m-b-5 m-t-10 p-t-4 font-weight-500">
          I order to continue with the activation process
          we require a deposit of <span class="font-weight-700 size-16 color-secondary">$20 USD</span>, You may pay in
          USD, BTC, ETH, LTC, or USDC. Please note that a non:
          refundable activation fee of <span class="font-weight-700 size-16 color-secondary">$5 USD</span> will be
          deducted from the deposit
        </p>
        <p class="darken-color jostDemi size-12 m-b-5 m-t-10 p-t-4 font-weight-500">
          Additionally, your are required to pass a
          <span class="font-weight-700 size-16 color-secondary">successful KYC screening</span>, if you haven't done so
          already.
        </p>
        <h5 class="color-tertiary-dark jostDemi size-22 m-b-5 m-t-5 font-weight-600">
          I want to deposit
        </h5>
        <!-- <ion-label class="m-t-25 m-b-10 size-13 font-weight-600 l-h-0 m-l-15  level-color display-block jostDemi">
          PREFERRED LANGUAGE:</ion-label> -->
        <ion-select class="selectClass height-50 darken-color" interface="action-sheet" placeholder="Choose Crypto Currency" [(ngModel)]="paymentCurrency">
          <ion-select-option *ngFor="let item of fundingOtions" [value]="item">
               {{item.paymentOption}}
          </ion-select-option>
        </ion-select>
        <ion-item lines="none" *ngIf="PaymentAddress">
          <p class="darken-color size-14 m-b-0 m-t-0" slot="start">{{PaymentAddress.expectedCryptoAmount}}</p>
          <span class="font-weight-700 size-16 darken-color" slot="end">{{PaymentAddress.type}}</span>
        </ion-item>
        <br>
        <div class="under-line"></div>
        <ion-item lines="none">
          <p class="darken-color size-14 m-b-0 m-t-0" slot="start">25.00</p>
          <span class="font-weight-700 size-16 darken-color" slot="end">USD</span>
        </ion-item>
        <div class="m-t-5 m-b-5">
          <table>
            <tr>
              <td>
                <ion-checkbox (ionChange)="CheckBox($event)" [checked]="isChecked" color="tertiary" slot="start" class="zoom-1-2 m-r-8 m-t--10" mode="md" >
                </ion-checkbox>
              </td>
              <td>
                <ion-label class="size-14 jostBook font-weight-400 white-space text-overflow">
                  <span class="text-black p-r-2 font-weight-400 size-15 jostlight">I agree to the offer that 1 have created
                    above. Also, by checking on this checkbox
                    and pressing the "Confirm" button, agree
                    to the</span>
                  <span class="text-black p-r-2 font-weight-400 size-15 jostlight" [routerLink]="['/tnc']"><u>
                    terms of use</u></span>
                </ion-label>
              </td>
            </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="Signup()" [disabled]="!isChecked">I want to sign up</ion-button>
</ng-container>

<ng-container *ngIf="PaymentAddress">
  <ion-grid class="ion-padding-start ion-padding-end">
    <ion-row>
      <ion-col>
      <h5 class="ion-text-capitalize color-tertiary-dark jostDemi size-22 m-b-0 m-t-0 m-l-5 font-weight-600">
        deposit {{PaymentAddress.type}} 
      </h5>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img [src]="PaymentAddress.addressAsQrCode" alt="">
      </ion-col>
      <ion-col>
         <div class="ion-text-end">
          <p class="darken-color size-14 m-b-0 m-t-0">{{PaymentAddress.expectedCryptoAmount}}</p>
          <span class="font-weight-700 size-16 darken-color">{{PaymentAddress.type}}</span>
         </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 class="darken-color jostDemi size-22 m-b-0 m-t-0 m-l-5 font-weight-600">
          {{PaymentAddress.address}}
        </h5>
        <p class="darken-color jostDemi size-12 m-b-5 m-t-5 font-weight-500">
          Please send the {{PaymentAddress.type}} deposit to the address
          above to continue the process. These:
          transactions will need to be completed within 50
          minutes.
        </p>
        <br>
        <p class="darken-color jostDemi size-12 m-b-5 m-t-5 font-weight-500">
          We wil email you once the deposit is confirmed.
          Once confirmed, you can move to the last stage
          of the seller sign up process.            
        </p>
      </ion-col>
    </ion-row>
</ion-grid>
</ng-container>

  
<ng-container *ngIf="IsPay">
    <ion-grid *ngIf="PostCheckoutRespone?.data?.fiatPaymentIntent">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <span class="font-weight-700 size-10 darken-color" slot="start">Activation Deposit</span>
            <p class="darken-color size-14 m-b-0 m-t-0" slot="end">{{_appservices.roundNumberTowDecimal(PostCheckoutRespone?.data?.fiatPaymentIntent?.requestTotalAmount)}} USD</p>
          </ion-item>
          <ion-item lines="none" *ngFor="let activationFee of PostCheckoutRespone?.data?.fiatPaymentIntent?.fees">
            <span class="font-weight-700 size-10 darken-color" slot="start">{{activationFee.description}}</span>
            <p class="darken-color size-14 m-b-0 m-t-0" slot="end">{{activationFee.amount}} {{activationFee.currency}}</p>
          </ion-item>
          <div class="under-line"></div>
          <ion-item lines="none">
            <span class="font-weight-700 size-10 darken-color" slot="start">Grand Total</span>
            <p class="darken-color size-14 m-b-0 m-t-0" slot="end">{{PostCheckoutRespone.data.fiatPaymentIntent.grandTotal}} {{PostCheckoutRespone.data.fiatPaymentIntent.currency}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <form id="payment-form" [formGroup]="billingInformation" (ngSubmit)="ProcessToPay()">
           
          <div class="ion-padding">
   
            <div>
              <ion-label class="m-t-25 m-b-10 size-13 font-weight-600 l-h-0 level-color display-block jostDemi">
                EMAIL
                <span
                  class="text-gray jostDemi">{{"( You cannot change your email address)"}}</span>
              </ion-label>
              <ion-input class="itemclass height-60" formControlName="email"></ion-input>
              <div *ngFor="let error of errorMessages.email" class="errormsg">
                <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-13">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
            </div>
            <!-- <div>
              <ion-label class="m-t-15 m-b-5 size-13 jostDemi  color-secondary display-block">{{'ADDRESS' | translate }}</ion-label>
              <ion-input class="itemclass height-60" formControlName="address"></ion-input>
              <div *ngFor="let error of errorMessages?.address" class="errormsg">
                <ng-container *ngIf="address?.hasError(error.type) && (address?.dirty || address?.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-13">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
            </div> -->
            <ion-label class="m-t-25 m-b-10 size-13 font-weight-600 l-h-0 level-color display-block jostDemi">
              Card Information</ion-label>
            <div id="card-container"></div>
            <div>
              <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-secondary display-block ">{{'NAME' | translate }} <span
                  class="text-gray jostDemi">{{"(AS SHOWN ON CARD)"}}</span></ion-label>
              <ion-input class="itemclass height-60" formControlName="fullname"></ion-input>
              <div *ngFor="let error of errorMessages?.fullname" class="errormsg">
                <ng-container *ngIf="fullname?.hasError(error.type) && (fullname?.dirty || fullname?.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-13">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
            </div>
            <div>
              <ion-label class="m-t-25 m-b-10 size-13 font-weight-600 l-h-0 level-color display-block jostDemi">
                COUNTRY
                <span
                class="text-gray jostDemi" *ngIf="userDetails.addressCountryName">{{"(You cannot change your Country)"}}</span>
              </ion-label>
              <ion-select class="itemclass height-60" interface="action-sheet" formControlName="country"
                placeholder="Choose Country" [disabled]="userDetails.addressCountryName ? true : false">
                <ion-select-option>
                  CHOOSE COUNTRY
                </ion-select-option>
                <ion-select-option *ngFor="let item of countriesList" [value]="item.name">
                  {{item.name}}
                </ion-select-option>
              </ion-select>

              <div *ngFor="let error of errorMessages.country" class="errormsg regularFonts">
                <ng-container *ngIf="country.hasError(error.type) && (country.dirty || country.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-13">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
            </div>
            <p class="darken-color jostDemi size-12 m-b-5 m-t-5 font-weight-500">
              Enter Verification code sent to email: {{_appservices.loggedInUserDetails.email}}
            </p>
            <div>
              <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-secondary display-block">{{'VERIFICATION CODE' | translate }}</ion-label>
              <ion-input class="itemclass height-60" formControlName="verificationCode"></ion-input>
              <div *ngFor="let error of errorMessages?.verificationCode" class="errormsg">
                <ng-container *ngIf="verificationCode?.hasError(error.type) && (verificationCode?.dirty || verificationCode?.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-13">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
            </div>
          <br>
          <ion-button class="border-radius-8" expand="block" color="secondary" (click)="ProcessToPay()" [disabled]="!billingInformation.valid">Pay <ion-icon slot="end" name="lock-closed"></ion-icon></ion-button>
          </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-container *ngIf="!FiatPaymentData?.data?.hasError">
    <ion-grid *ngIf="FiatPaymentData?.data?.messageType === 'User'" class="ion-padding">
      <ion-row>
        <ion-col>
          <p class="darken-color jostDemi size-12 m-b-5 m-t-5 font-weight-500">
            Congratulation! You have deposited all the fees. Let's Retun Back to complete KYC Screening.
          </p>
          <div class="ion-text-center">
            <ion-button color="secondary" (click)="ViewReceipt(FiatPaymentData?.data?.receiptUrl)" class="ion-text-capitalize ">View Receipt</ion-button>
            <ion-button class="ion-text-capitalize" (click)="returnBack()">Return Back</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  
</ion-content>
