.background-subheader-30{
    background: url('../../../../assets/images/subheader.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    margin-top: -40px;
}
.main-border{
    border: 1px solid #70707070;
    border-radius: 4px;
}
.darken-label{
--color: #707070;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-left: 1px solid #70707070;
}
.bg-blue{
    background: rgb(95, 204, 240);
}
.paymentTypes{
    display: flex;
    gap: 5rem;
}