.background-liquidate {
  background: url("../../../assets/images/signu1-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}
.font-weight {
  font-weight: 900;
}
.w-40 {
  width: 40%;
}
.m-l-30p {
  margin-left: 30%;
}
.m-r-30p {
  margin-right: 30%;
}
.m-l-110 {
  margin-left: 110px;
}
.m-r-110 {
  margin-right: 110px;
}

.m-l-10p {
  margin-left: 10%;
}
.m-r-10p {
  margin-right: 10%;
}
.height-70 {
  height: 70px !important;
}
.m-l-100 {
  margin-left: 100px;
}
.m-r-100 {
  margin-right: 100px;
}

.custom-color {
  color: #2985c2;
}
// .custom-height-liquidate {
//   height: calc(100% - 180px);
// }