<ion-content class="h-100 no-scroll">
  <div class="overfolow-y h-100 ">
    <ion-item-divider class="height-30 removeborder background-subheader-30">
      <ion-button slot="start" fill="clear" class="p-0-srart m-t-20" (click)="_appservices?.goBack()">
        <ion-icon name="chevron-back" class="staticcolor size-32"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ion-grid class="position-relative z-index-10 grid-minheight p-h-25">
      <ion-row>
        <ion-col>
          <ion-toolbar class="general-pages-toolbar p-t-5p">
            <div class="ion-text-center">
              <h1 class="color-secondary size-32 m-0 font-weight-600 jostDemi">HELP AND FAQ</h1>
              <h2 class="color-tertiary-dark size-23 font-weight-600 m-t-10 m-b-20 jostDemi">HOW CAN WE HELP YOU?</h2>
            </div>
          </ion-toolbar>

          <div *ngFor="let faq of faqs" class="border">
            <button class="accordion">
              <p text-wrap class="jostBook font-weight-400 text-black size-15 p-0 m-0 w-85 inline">{{faq.ques}}</p>
            </button>
            <div class="panel">
              <p class="jostBook tint font-weight-400 text-gray size-13 m-t-0 p-r-10">{{faq.ans}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
    <div class="backgroundimage-footer z-index-0 min-h position-relative">
    </div>
  </div>

</ion-content>