<ion-content class="h-100 no-scroll">
  <div class="overfolow-y h-100 ">
    <ion-item-divider class="height-30 removeborder background-subheader-30">
      <ion-button slot="start" fill="clear" class="p-0-srart m-t-20" (click)="_appServices?.goBack()">
        <ion-icon name="chevron-back" class="staticcolor size-32"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ng-container *ngIf="!ConfirmMessage"0>
      <ion-grid class="position-relative z-index-10 grid-minheight p-h-25">
        <ion-row>
          <ion-col>
            <p class="size-23 font-weight-600 text-center color-tertiary-dark jostDemi uppercase">{{rootPage}}</p>
            <p class="size-15 jostBook font-weight-400 text-center m-0">Enter your registered email address below to<br>
             start the reset password process.
            </p>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col>
            <form class="p-5p p-t-0" [formGroup]="resetPasswordForm">
              <div>
                <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-blue display-block">EMAIL ADDRESS</ion-label>
                <ion-input class="itemclass height-60 p-l-10" formControlName="email" type="email">
                </ion-input>
                <br>
                <div *ngFor="let error of errorMessages.email" class="errormsg">
                  <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                    <div class="erroronform">
                      <small class="error-message jostDemi size-10">{{error.message}}</small>
                    </div>
                  </ng-container>
                </div>
              </div>
  
              <ion-button expand="block" size="large" (click)="reset()" [disabled]="resetPasswordForm.invalid"
                class="shadownot size-18 primary-color-background no-border border-radius-8 m-b-20 m-t-25 height-60 jostDemi letter-spacing ion-activatable ripple-parent font-weight-600">
                Continue
                <ion-spinner *ngIf="showSpinner" name="lines" class="validatespinner1"></ion-spinner>
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-button class="closebtn" (click)="gotoLogin()" size="small" fill="outline" color="tertiary-contrast"
        expand="block">
        <ion-text class="size-10">{{rootPage != 'Reset Password' ? 'BACK TO LOG IN' : 'BACK TO DASHBOARD'}}</ion-text>
      </ion-button>
      <div class="backgroundimage-footer z-index-0 min-h position-relative">
      </div>
    </ng-container>
    <ng-container *ngIf="ConfirmMessage">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="size-23 font-weight-600 text-center color-tertiary-dark jostDemi uppercase">{{rootPage}}</p>
            <p class="size-16 jostBook font-weight-500 text-center m-0">*If your account exists, we'll send you a One-Time Passcode (OTP) to securely reset your password. Please use the OTP sent to your email to complete the password reset process.
            </p>
            <ion-button expand="block" size="large" (click)="nextbtn()"
            class="shadownot size-18 primary-color-background no-border border-radius-8 m-b-20 m-t-25 height-60 jostDemi letter-spacing ion-activatable ripple-parent font-weight-600">
            Next
          </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    
    
  </div>

</ion-content>