.staticcolor {
  color: #60ccf0;
}

.m-50 {
  margin: 50px;
}
.min-h {
  min-height: 120px;
}
.background-subheader-30{
  background: url('../../../assets/images/subheader.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  margin-top: -30px;
}