<!-- <app-user-panel-header></app-user-panel-header> -->
<!-- <ion-header>
  <ion-toolbar class="background-header">
    <ion-buttons slot="start" (click)="_appservices?.goBack()">
      <ion-icon name="chevron-back" color="light" class="size-32"></ion-icon>
    </ion-buttons>
    <ion-title class="size-16 font-weight-800 text-white futuraFontsBold letter-spacing">About XLiquidus</ion-title> 
  </ion-toolbar>
</ion-header> -->
<ion-content class="h-100 no-scroll">
  <div class="overfolow-y h-100 ">
    <ion-item-divider class="height-30 removeborder background-subheader-30">
      <ion-buttons slot="start" (click)="_appservices?.goBack()" class="p-0-srart m-t-20">
        <ion-icon name="chevron-back" class="staticcolor size-32"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-grid class="position-relative z-index-10 p-h-25">
      <ion-row>
        <ion-col>
          <ion-toolbar class="general-pages-toolbar p-t-5p">
            <div class="ion-text-center">
              <h1 class="color-secondary size-32 m-0 font-weight-600 jostDemi">ABOUT</h1>
              <img src="assets/images/logo.png" class="w-40">
              <!-- <h2 class="customecolor size-23 font-weight-600  m-t-10 jostDemi">CREATE YOUR ACCOUNT</h2> -->
            </div>
          </ion-toolbar>

          <div>
            <p class="size-13 jostBook font-weight-500 p-l-10 p-r-10 text-justify"><b>XLiquidus - </b>buy and liquidate
              crypto very easy and very transparent.</p>

            <p class="size-13 jostBook font-weight-500 p-l-10 p-r-10 text-justify">XLiquidus is an intuitive platform
              for crypto investors of all levels looking to buy and liquidate cryptocurrencies. XLiquidus is the
              liquidation app of choice from WSCE Token and Exchange holders. XLiquidus offers a variety of helpful
              functions such as: </p>

            <ul>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">Buy option via credit card, Google or Apple Pay
              </li>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">Liquidation of XL Wallet into USD Bank Account,
                other Wallets and Exchange-to-Exchange</li>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">Seamless account integration with the USS Cyber
                Exchange</li>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">Latest security and anti-fraud protocols</li>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">Competitive exchange rates</li>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">High transaction speed</li>
              <li class="size-13 jostBook font-weight-500 p-l-10 p-r-10">24/7 Support team </li>
            </ul>

            <p class="size-13 jostBook bold p-l-10 p-r-10 m-b-0">COMPETITIVE EXCHANGE RATES</p>

            <p class="size-13 jostBook font-weight-500 p-l-10 p-r-10 text-justify m-t-0">XLiquidius cryptocurrency
              exchange
              acts as an intermediary between cryptocurrency exchanges and customers, providing you with the best
              possible BTC exchange rates.</p>

            <p class="size-13 jostBook bold p-l-10 p-r-10 m-b-0">BUY CRYPTOCURRENCY WITH A CREDIT CARD</p>

            <p class="size-13 jostBook font-weight-500 p-l-10 p-r-10 text-justify m-t-0">Users can choose offers from
              the most
              reputable fiat to crypto providers - Bitcoin, Litecoin, Ethereum, USDC and buy Bitcoin instantly with 60+
              currencies at the top rates on the market.</p>

            <p class="size-13 jostBook bold p-l-10 p-r-10 m-b-0">TRANSPARENT FEES</p>

            <p class="size-13 jostBook font-weight-500 p-l-10 p-r-10 text-justify m-t-0">We do not charge any hidden or
              unreasonable fees.</p>

            <p class="size-13 jostBook bold p-l-10 p-r-10 m-b-0">MAKE XLIQUIDUS BETTER</p>

            <p class="size-13 jostBook font-weight-500 p-l-10 p-r-10 text-justify m-t-0">Help us make XLiquidus better!
              Follow us on social media and don’t hesitate to send us a message at <span
                class="color-primary">info@xliquidus.com</span> if case of any any questions.</p>

            <!-- <h4 class="jostDemi size-19 color-tertiary-dark font-weight-600 p-l-10 ion-text-left ion-text-uppercase">
              More</h4> -->
          </div>

          <ion-button expand="block" fill="clear"
            class="shadownot size-19 primary-color-background height-60 m-l-a m-r-a w-90 no-border border-radius-8 letter-spacing btnMargin m-t-20p"
            (click)="contactUs()">
            CONTACT US
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    <div class="backgroundimage-footer z-index-0 position-relative min-h">
    </div>
  </div>

</ion-content>