.view-all {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 100;
}

.arrow-view {
  position: absolute;
  top: -6px;
}
.market-movers{
  margin-top: 30px;
}
.bg-img-container{
  height: 210px;
  width: 100%;
  position: absolute;
  img{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}