.backgroundimage-login {
  position: relative;
  height: 100%;
}
.topContent {
  position: relative;
  height: 56%;
}
.bottom-Content {
  position: relative;
  height: 25%;
}
.bottom-touch {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.welcome-color {
  color: #001b47;
}
.ordiv {
  position: relative;
  height: 100px;
  color: #ffffff;
  min-height: 100px;
}
.orclass {
  position: absolute;
  top: 50%;
  left: 44%;
}
.iconCss {
  background: white;
  position: absolute;
  width: 42px;
  padding: 11px;
  left: -8px;
  border-radius: 16%;
}
.memBtn {
  justify-content: center;
  ion-button {
    min-width: 86%;
  }
}
.login-btn{
  color: white;
  margin: 30px auto;
}