<ion-content class="h-100 no-scroll">
  <div class="overfolow-y h-100 ">
    <ion-item-divider class="height-30 removeborder background-subheader-30">
      <ion-button slot="start" fill="clear" class="p-0-srart m-t-20" (click)="_appServices?.goBack()">
        <ion-icon name="chevron-back" class="staticcolor size-32"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ion-grid class="position-relative z-index-10 grid-minheight p-h-25">
      <ion-row>
        <ion-col>
          <p class="size-23 font-weight-600 text-center color-tertiary-dark jostDemi uppercase">{{rootPage}}?</p>
          <p class="size-15 jostBook font-weight-400 text-center m-0">Enter your email address and we'll send<br>
            you a link to reset your password.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <form class="p-5p p-t-0" [formGroup]="resetPasswordForm">

            <div class="errorHead text-center" *ngIf="showError">
              <img src="assets/images/block.png" class="p-t-10">
              <p class="jostDemi m-0 size-10 errormsg p-15 b-r-10 p-t-0 text-center bold">We are unable to reset this
                password. Please be sure enter the email you used to create your account.<br>Or<br>
                Log in using your <span class="color-tertiary-dark" (click)="gotoLogin()">Google Account</span> or <span
                  class="color-tertiary-dark" (click)="gotoLogin()">Microsoft Account</span></p>
            </div>

            <div>
              <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-blue display-block">EMAIL ADDRESS</ion-label>
              <ion-input class="itemclass height-60 p-l-10" formControlName="email" type="email"
                [disabled]="rootPage == 'Reset Password'">
              </ion-input>
              <div *ngFor="let error of errorMessages.email" class="errormsg">
                <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-10">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
            </div>

            <div>
              <ion-label class="m-t-15 m-b-5 size-13 jostDemi color-blue display-block">CONFIRM EMAIL ADDRESS
              </ion-label>
              <ion-input class="itemclass height-60 p-l-10 customInput" formControlName="confirmEmail"
                [type]="emailType" [disabled]="rootPage == 'Reset Password'">
                <ion-icon slot="end" class="customEye" [name]="showEmail" (click)="toggleShow()"></ion-icon>
              </ion-input>
              <div *ngFor="let error of errorMessages.confirmEmail" class="errormsg">
                <ng-container *ngIf="confirmEmail.hasError(error.type) && (confirmEmail.dirty || confirmEmail.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-10">{{error.message}}</small>
                  </div>
                </ng-container>
              </div>
              <div class="errormsg">
                <ng-container
                  *ngIf="resetPasswordForm.hasError('mismatch') && (confirmEmail.dirty || confirmEmail.touched)">
                  <div class="erroronform">
                    <small class="error-message jostDemi size-10">{{errorMessages.mismatch}}</small>
                  </div>
                </ng-container>
              </div>
            </div>

            <ion-button expand="block" size="large" (click)="reset()" [disabled]="resetPasswordForm.invalid"
              class="shadownot size-18 primary-color-background no-border border-radius-8 m-b-20 m-t-25 height-60 jostDemi letter-spacing ion-activatable ripple-parent font-weight-600">
              RESET PASSWORD
              <ion-spinner *ngIf="showSpinner" name="lines" class="validatespinner1"></ion-spinner>
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="closebtn" (click)="gotoLogin()" size="small" fill="outline" color="tertiary-contrast"
      expand="block">
      <ion-text class="size-10">{{rootPage != 'Reset Password' ? 'BACK TO LOG IN' : 'BACK TO DASHBOARD'}}</ion-text>
    </ion-button>
    <div class="backgroundimage-footer z-index-0 min-h position-relative">
    </div>
  </div>

</ion-content>