<app-user-panel-header [title]="'PROFILE & SETTINGS'"></app-user-panel-header>
<ion-content class="primary-second-color-background">
  <ion-list lines="none" class="no-background limit">
    <ion-item-divider class="height-30 no-background p-t-5p">
      <ion-button slot="start" fill="clear" class="p-0-srart m-0" (click)="goBack()">
        <ion-icon name="chevron-back" class="color-tertiary-dark size-32"></ion-icon>
      </ion-button>
      <ion-title class="futuraFontsMedium size-18 color-tertiary font-weight-500 p-0 ion-text-left">Change Password</ion-title>
    </ion-item-divider>
    </ion-list>
    <form class="p-5">
      <div>
       <ion-label class="m-t-15 m-b-15 size-15 text-white display-block futuraFontsMedium">Change Password</ion-label>
       <ion-input class="itemclass height-60"></ion-input>
      </div>
      <div>
       <ion-label class="m-t-15 m-b-15 size-15 text-white display-block futuraFontsMedium">Confirm New Password:</ion-label>
       <ion-input class="itemclass height-60"></ion-input>
      </div>
      <ion-button expand="block" size="large" class="size-16 primary-color-background no-border border-radius-8 p-t-10p height-50 futuraFontsBold ion-text-uppercase font-weight-500 letter-spacing">Change Password</ion-button>

    </form>
    </ion-content>